{% extends 'base.html.twig' %}

{% block body %}

<section>
    <h3>{{ note.title }}</h3>

    <p>{{ note.content }}</p>

    <p>
    {% if note.category %}
        {% for category in note.category %}
            <span><strong>{{ category }}</strong></span>
        {% endfor %}
    {% endif %}
    </p>
    <p><a href="{{ path('notes') }}">Retour liste des notes</a></p>
</section>    
    
{% endblock %}
